.container {
  width: 100%;
  height: 100svh;
  overflow: hidden;
  background: url("/public/2k_stars_milky_way.jpg");
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 700;
  font-size: 2rem;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 2rem 4rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding-right: 100px;
  gap: 4rem;
}

.navbar button {
  background: transparent;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: scale 0.5s;
}

.navbar button:hover {
  scale: 1.2;
}

.title {
  color: white;
  position: absolute;
  z-index: 2;
  font-size: 3rem;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -90%);
  user-select: none;
}
